@import '../../styles/config';

.Container {
  padding-left: 25px;
  padding-right: 25px;

  @include medium {
    padding-left: 50px;
    padding-right: 50px;
  }

  // 1262px = max-width + padding-left + padding-right
  @include responsiveMinWith(1206px) {
    max-width: 1106px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}