/* Overpass
 =====================================================*/

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src:
    url('../../public/fonts/Overpass/overpass-v5-latin-300.woff') format('worff'),
    url('../../public/fonts/Overpass/overpass-v5-latin-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src:
    url('../../public/fonts/Overpass/overpass-v5-latin-600.woff') format('worff'),
    url('../../public/fonts/Overpass/overpass-v5-latin-600.ttf') format('truetype');
}


/* Ubuntu
 =====================================================*/

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src:
    url('../../public/fonts/Ubuntu/ubuntu-v15-latin-regular.woff') format('woff'),
    url('../../public/fonts/Ubuntu/ubuntu-v15-latin-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src:
    url('../../public/fonts/Ubuntu/ubuntu-v15-latin-500.woff') format('woff'),
    url('../../public/fonts/Ubuntu/ubuntu-v15-latin-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src:
    url('../../public/fonts/Ubuntu/ubuntu-v15-latin-700.woff') format('woff'),
    url('../../public/fonts/Ubuntu/ubuntu-v15-latin-700.ttf') format('truetype');
}