@import '#components/ButtonLink/styles.module.scss';

.ButtonLinkGradient {
  @extend .ButtonLink;

  position: relative;
  color: $neutral-white;
  background-image:
    linear-gradient(
      90deg,
      $gradient-veryLightRed,
      $gradient-lightRed
    );

  &:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $neutral-white;
    filter: opacity(0.4);
  }
}